{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="{% static "bootstrap/dist/css/bootstrap.css" %}"  crossorigin="anonymous">

     <!-- Bruno CSS -->
     <link rel="stylesheet" href="{% static "css/base.css" %}"  crossorigin="anonymous">

    <title>{{ title }}</title>
  </head>
  <body>

<a href="/"> Back to Home </a>

<div class="container col-6">

<form method="POST">
{{ form }}
<button type="submit" class="btn btn-primary"> Enviar </submit>
{% csrf_token %}
</form>

</div>

  </body>
</html>
